body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e20;
}

.wrapper {
    padding: 50px;
    height: 500px;
}

.container {
    position: relative;
    height: 500px;
    background-color: #444;
    overflow: hidden;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    animation: move-and-color 2s infinite alternate;
}


@keyframes move-and-color {
    0% {
        transform: translateY(0);
        background-color: #3498db;
    }

    50% {
        background-color: #e74c3c;
    }

    100% {
        transform: translateY(500px);
        background-color: #2ecc71;
    }
}