:root {
    --standart-family: "Inter", sans-serif;
    --second-family: "Readex Pro", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    font-family: var(--standart-family);
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    background: #fff;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 200px;
    padding: 12px 22px;
    transition: all 0.4s;
}

.body--open-menu {
    overflow: hidden;
}


.body--open-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}
.body--open-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.burger-icon {
    display: flex;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #000;
    position: relative;
    transition: all 0.4s;
}

.burger-icon span::before,
.burger-icon span::after {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #000;
    transition: all 0.4s;
}

.burger-icon span::before {
    top: -8px;

}

.burger-icon span::after {
    bottom: -8px;
}